.product-list {
  margin: 1rem 0;

  .header {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-bottom: 1rem;
    justify-content: flex-end;
    
    // Kan noen som faktisk kan css fikse dette pls?? :))
    // .title {
    //   justify-content: flex-start;
    // }

    // .create {
    //   justify-content: flex-end;
    // }
  }
}
