.gallery-wrapper {
  .gallery-inner-wrapper {
    position: relative;
  }

  .thumbnails {
    display: flex;
    justify-content: center;

    > .img-thumb {
      margin: 0.25rem;
      width: 3rem;
      height: 3rem;
      border: 1px solid;
      border-color: rgba(230, 230, 230, 1);
      cursor: pointer;

      &.current,
      &:hover,
      &:focus, {
        outline: none;
        border-color: theme(primary);
      }
  
      > img {
        object-fit: fill;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.gallery-inner-wrapper { 
  position: relative;

  .product-gallery {
    .img-slide {
      padding-top: 50%;
      overflow: hidden;
      position: relative;
      transform-style: preserve-3d;
      display: block;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(1.02);
      z-index: 999;
    }
  }

  .gallery-control {
    @include shadow-box-light();
    position: absolute;
    top: 50%;
    z-index: 1000;
    width: 2rem;
    height: 2rem;
    background-color: rgba(240, 240, 240, 1);
    border-color: rgba(230, 230, 230, 1);

    > span.anticon {
      position: absolute;
      top: 16px;
      transform: translateY(-50%) translateX(-50%);
    }

    &.next-btn {
      left: calc(100% - 46px);
    }
  }
}

