.product-list {
  margin: 1rem 0;

  .header {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-bottom: 1rem;
    justify-content: flex-end;

    .title {
      justify-content: flex-start;
      flex: 1 1 100%;
    }
  }
}
