
.main-container {
  position: relative;

  .main-content {
    display: flex;
    flex: 1 0 100%;
    flex-flow: column;
    margin: 0;
    width: 100%;

    @include respond-above(md) {
      padding: 0 2rem;
    }
  }

  
}
